.search {
    margin: 0 auto;
    width: 89%;
    padding-bottom: 48px;
}

.search__form {
    position: relative;
}

.search__input {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    border: none;
    outline: none;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 13px;
    width: 100%;
}

.search__input:focus {
    border-bottom: 1px solid #FF6838;;
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 34px;
    background: url(../../images/search.svg) no-repeat right center;
    border: none;
    outline: none;
}

.search__button:hover {
    opacity: 0.7;
}

.search__form-checkbox {
    padding-top: 33px;
}

.search__checkbox {
    appearance: none;
    border: none;
    outline: none;
    width: 36px;
    height: 18px;
    background: url(../../images/switchoff.svg) no-repeat left center;
    transition-duration: 400ms;
}

.search__checkbox:checked {
    background: url(../../images/switch.svg) no-repeat left center;
    transition-duration: 400ms;
}

 .search__label {
     display: flex;
 }

 .search__label-title {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding-left: 14px;
 }

 @media (max-width: 768px) {
    .search__form-checkbox {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 420px) {
    .search__form-checkbox {
        display: flex;
        justify-content: center;
    }
}