.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #465DFF;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 18px;
}

.header__links {
    padding-left: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header__burger-menu {
    display: none;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.header__container-links {
    margin: 0;
}

.header__logo {
    width: 38px;
}
.header__button {
    outline: none;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.header__button_type_login {
    width: 76px;
    height: 32px;
    background-color: #2BE080;
    border-radius: 3px;
    margin-left: 30px;
}
.header__button_type_registration {
    background-color: transparent;
    color: #FFFFFF;
}


.header__movies {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-decoration:none;
    color: #000;

}
.header__movies_type_saved {
    font-weight: normal;
    padding-left: 16px;
}
.header__movies_type_profile {
    background-image: url('../../images/profile.svg');
    width: 100px;
    height: 32px;
}

@media (max-width: 890px) {
    .header {
        padding-right: 30px;;
        padding-left: 30px
    }
}

@media (max-width: 768px) {
    .header__burger-menu {
        display: flex;
    }
    .header__links {
        display: none;
    }
}

@media (max-width: 560px) {
    .header {
        padding-right: 14px;;
        padding-left: 14px
    }
    .header__button_type_login {
        margin-left: 14px;
    }
}